@charset "utf-8";

navbar{
  max-height:100%;
  min-height:100%;
  }

h1 {
    font-family: 'Kosugi Maru', sans-serif;
  }


.fa-paw {color: rgb(245, 135, 140)}
.fa-shopping-cart {color: rgb(245, 135, 140)}
.fa-store {color: rgb(245, 135, 140)}
.fa-stamp {color: rgb(245, 135, 140)}
.fa-cat {color: rgb(245, 135, 140)}
.fa-flag {color: rgb(245, 135, 140)}
.fa-dog {color: rgb(245, 135, 140)}
.fa-tv {color: rgb(245, 135, 140)}
.fa-angle-double-right {color: rgb(245, 135, 140)}
